<div *ngIf="loadProjectData">
    <div class="row" *ngIf="projects.length > 0">
        <div class="col-lg-12">
            <h1 class="page-header">Your projects</h1>
        </div>
        <div *ngFor="let project of projects" class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-tasks fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{project.jobNumber}}</div>
                            <div>{{project.title}}</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span><a [routerLink]="['/projects/details/', project._id]">View Details</a></span>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="projects.length === 0">
        <div class="col-lg-12">
            <h1 class="page-header">You don't own any projects</h1>
        </div>
    </div>
</div>

<div *ngIf="!loadProjectData" class="alert alert-danger">{{errorMessage}}</div>